﻿@page "/usuario/nuevo"
@page "/usuario/editar/{Id:int}"
@using Crud.NetCore6.Shared
@inject HttpClient http
@inject NavigationManager navigationManager


<PageTitle>@Titulo Usuario</PageTitle> 



<h1>@Titulo Usuario</h1>


<EditForm Model="@usuario" OnValidSubmit="GuardarUsuario">
    <DataAnnotationsValidator/>

    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="usuario.Nombre"/>
        </div>
        <ValidationMessage For="@(() => usuario.Nombre)"/>
    </div>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Apellido</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="usuario.Apellido"/>
        </div>
        <ValidationMessage For="@(() => usuario.Apellido)"/>
    </div>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Telefono</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="usuario.Telefono"/>
        </div>
        <ValidationMessage For="@(() => usuario.Telefono)"/>
    </div>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Email</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="usuario.Email"/>
        </div>
        <ValidationMessage For="@(() => usuario.Email)"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
         <button class="btn btn-light" @onclick="Cancel">Cancelar</button>
    </div>


</EditForm>


@code {
    [Parameter]
    public int Id { set; get; }

    protected string Titulo = "Nuevo";
    protected Usuario usuario = new();


    protected override async Task OnParametersSetAsync()
    {
        if(Id!=0)
        {
            Titulo = "Editar";
            usuario = await http.GetFromJsonAsync<Usuario>("api/Usuario/" + Id.ToString());
        }
    }


    protected async Task GuardarUsuario()
    {
        if (usuario.Id != 0)
        {
            await http.PutAsJsonAsync($"/api/usuario/{usuario.Id}", usuario);

        }else
        {
            await http.PostAsJsonAsync("/api/usuario", usuario);
        }

        Cancel();
    }
        public void Cancel()
        {
            navigationManager.NavigateTo("/");
        }

    

}
