﻿@page "/usuario/baja/{Id:int}"
@using Crud.NetCore6.Shared
@inject HttpClient http
@inject NavigationManager navigationManager

<h1>Baja Usuario</h1>


    <div class="mb-3">
        <label for="Id" class="form-label">Id:</label>
        <div class="col-md-4">
           <label for="Id" class="form-label">@usuario?.Id</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre:</label>
        <div class="col-md-4">
           <label for="Nombre" class="form-label">@usuario?.Nombre</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Apellido:</label>
        <div class="col-md-4">
            <label for="Nombre" class="form-label">@usuario?.Apellido</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Telefono:</label>
        <div class="col-md-4">
            <label for="Nombre" class="form-label">@usuario?.Telefono</label>
        </div>
    </div>
    <div class="mb-3">
        <label for="Nombre" class="form-label">Email:</label>
        <div class="col-md-4">
            <label for="Nombre" class="form-label">@usuario?.Email</label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-danger" @onclick="BorrarUsuario">Eliminar</button>
         <button class="btn btn-light" @onclick="Cancel">Cancelar</button>
    </div>


@code {
    [Parameter]
    public int Id { get; set; }

    private Usuario? usuario { get; set; }


    protected override async Task OnInitializedAsync()
    {
        usuario = await http.GetFromJsonAsync<Usuario>($"api/usuario/{Id}");

    }

    protected async Task BorrarUsuario()
    {
        if (usuario is not null)
        {
            await http.DeleteAsync($"/api/usuario/{usuario.Id}");

        }
        Cancel();
    }

    public void Cancel()
        {
            navigationManager.NavigateTo("/");
        }
}
