﻿@page "/"
@using Crud.NetCore6.Shared
@inject HttpClient http


<PageTitle>Usuarios</PageTitle>

<h1>Lista de Usuarios</h1>

@if (listaUsuarios == null)
{
<div class="spinner-grow spinner-grow-sm" role="status">
</div>
<div class="spinner-grow spinner-grow-sm" role="status">
</div>
<div class="spinner-grow spinner-grow-sm" role="status">
</div>
}
else
{

    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in listaUsuarios)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Nombre</td>
                    <td>@u.Apellido</td>
                    <td>@u.Telefono</td>
                    <td>@u.Email</td>
                    <td>
                        <a href='/usuario/editar/@u.Id' class="btn btn-secondary" role="button">Editar</a>
                        <a href='/usuario/baja/@u.Id' class="btn btn-danger" role="button">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code{

    private List<Usuario>? listaUsuarios{ get; set; }



    protected override async Task OnInitializedAsync()
    {
        listaUsuarios = await http.GetFromJsonAsync<List<Usuario>>("api/Usuario");

    }

    

    }